/* This is panel style */

/* {box-sizing: border-box;}*/

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    margin-top: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
  }

  .topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .search-container {
    float: right;
  }

  .topnav input[type=text] {
    width: 400px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #DCDCDC
  }

  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #4CAF50;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

/* This is register form style */

.frm{
	width: 60%;
	margin: 0px auto;
	padding: 20px;
	text-align: center;
	background: #FFFFFF;
	border:1px solid #B0C4DE;
}

.loginForm{
	display: inline-block;
	width: 35%;
	margin: 0px auto;
	padding: 20px;
	text-align: center;
	border:1px solid #B0C4DE;
	border-radius: 10px 10px 10px 10px;
}

.para{
	text-align: left;
}

.errMsg{
  margin-right: 145px;
  font-size: 12px;
  color: red;
}

.link{
	text-decoration: none;
}

.required label:after{
	content: " *";
	color: red;
}

.required{
	margin: 10px 0px 10px 0px;
}

.required label{
	display: inline-block;
	width: 140px;
	text-align: right;
	margin: 3px;
	cursor: pointer;
}

.listbox{
	height: 40px;
	width: 420px;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid gray;
}

.required input{
	height: 25px;
	width: 400px;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid gray;
}

.register button{
	height: 40px;
	width: 420px;
	margin: 3px;
	margin-left: 150px;
	padding: 5px 10px;
	font-size: 16px;
	color: white;
	background-color: #4CAF50;
	cursor: pointer;
}